@{
ViewData["Title"] = "Startsida";
}

 <div class="row">
    <div class="col-sm">
      <h1>Välkommen</h1>
      <p>Här delar vi med oss av våra framsteg från soffpotatisar till maratonlöpare. Häng med!</p>
      <button type="button" class="btn btn-primary" onclick="window.open('/Home/Create')">Skapa inlägg</button>
   </div>
    <div class="col-sm">
      <img src="~/Images/hero.jpg" />
    </div>
